#letters {
    position: relative;
    
}
#numbers .ui-sortable-placeholder {  display: inline-block; height: 100px; height: 30px; }





#numbers { 
    background: #177f2f;
  
}
#numbers .letter-container {
    padding: 10px;
    display: inline-block;
    text-align: center;
}
#numbers .letter {
    border: 6px solid #fff;
    background-color: #25c143;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    margin: 15px;
    cursor: pointer;

}
#numbers .dashed {
    border: 6px dotted #25c143;
    background-color: transparent;
    color: #25c143;
}
#numbers .dropped {
}


