

#circles {
    background: #372041;
}


#circles .circle-container {
    padding: 10px;
    display: inline-block;
    text-align: center;
}
#circles .circle {
    border: 6px solid #fff;
    border-radius: 50%;
    background-color: #826496;
    display: inline-block;

}
#circles .dashed {
    border-radius: 50%;
    border: 6px dotted #fff;
    background-color: transparent;
}
#circles .dropped {
    border: 6px solid transparent;
    background: #2a1a33;
}
