
html, body { 
    margin: 0; 
    padding: 0;
    background: url(../img/1.jpg) no-repeat center center fixed; 
    background: #372041;
    text-align: center;
    color: white; 
    position: relative;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.menu {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
a, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
}
             
#main {
    height: 100%;
    width: 100%;
    position: relative;
}

.flip {
    -webkit-transform: rotate(180deg);
}

.space {
    height: 80px;
}

.game {
    height: 100%;
    display: none;
}



.separator {
    margin: 30px;
}



h1 { 
  
    font-size:33px;
    color:#fff;
    font-weight: 300;
    padding-bottom: 10px;
}

h2 { text-decoration: none;
    color: #6f99a5;
    font-size: 40px;}

h3 {
    font-size:50px;
    margin:0px;
    padding-bottom: -70px;
    text-decoration: none;
    color:#fff;
} 

h4 {
    font-size:150px;
    margin:0px;
    padding-bottom: -70px;
    text-decoration: none;
    color:#fff;
} 



.dodo {
    font-size: 40px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    color: #fff;
    border: none;
    padding: 0;
}


.correct {text-rendering: optimizelegibility;
    color: #ffffff;
    font-weight: bold;
}
.wrong {
    color: #040052;
    font-weight: bold;
}



#game-over {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05a2aa;
    color: #fff;
}

#game-over .msg {
    color: #fff;
    font-size: 20px;
    padding: 20px;
}


          
.lama{
	position: absolute;
	top: 50%;
	left:50%;
	margin-top: -140px;
	margin-left: -260px;
	border-radius: 30px;
	width:520px;
	height:200px;
    padding: 30px 0;
    background-color: #8fccca;
}
  
	            
h1 {
    margin:0 0 15px;
    font-size:33px;
    color:#fff;
    font-weight: 300;
    padding-bottom: 10px;
}



#correct {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 40px;
    color: #fff;
  
    height: 100%;
    width: 100%;
    background: rgba(0,255,0,0.9);
}
#correct .inner { line-height: 200px; margin-top: -100px; width: 100%; text-align: center; position: absolute; top: 50%; left: 0; }



#correct.circles {
	background-color: #372041;
	background-repeat:repeat-y;
}
#correct.symbols {
	background-color: #234187;
}
#correct.vowels {
	background-color:#18504b;
}
#correct.draw {
	background-color: #25323d;
}
#correct.words {
	background-color: #41a7a8;
}

#correct.creatures {
	background-color: #207d45;
}

#correct.numbers{
	background-color:#e19525;
}
#arrows {
    background: #aaa;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200px;
}

#arrows lil {
	margin-top:200px;
}